<h1>Fietsvakanties over het Europese continent</h1>

<nav>
  <ul>
    <li><a routerLink="/trip/2001" routerLinkActive="active" ariaCurrentWhenActive="page">Bron van de Rijn</a></li>
    <li><a routerLink="/trip/2002" routerLinkActive="active" ariaCurrentWhenActive="page">Middellandse Zee</a></li>
    <li><a routerLink="/trip//2004" routerLinkActive="active" ariaCurrentWhenActive="page">Naar Azië</a></li>
    <li><a routerLink="/trip/2005" routerLinkActive="active" ariaCurrentWhenActive="page">Door Marokko</a></li>
  </ul>
</nav>

